// React flow

.react-flow__panel.react-flow__attribution {
  display: none;
}

.react-flow .react-flow__node,
.react-flow .react-flow__node:focus {
  padding: 0;
  border: none;
  box-shadow: none !important;
  background: none;
}

.react-flow__node.selected {
  box-shadow: none !important;
  border: none !important;
}
